<div class="container">

  <%= erb :"partials/breadcrumbs_heading", :locals => { :breadcrumbs => breadcrumbs, :mode => mode, :heading => 'Import' } %>

  <div class="row">
    <ul>
      <li><a href="/<%= mode%>/import/transmissions">Transmissions</a></li>
    </ul>
  </div>

</div>