<div class="container category-select">
  <div class="row">
    <div class="sixcol">
      <a href="/tv"><h2>TV</h2></a>
    </div>
    <div class="sixcol last">
      <a href="/radio"><h2>Radio</h2></a>
    </div>
  </div>
</div>