<div class="container centered">
  <div class="row">
    <div class="sixcol">
      <a href="/tv"><img src="images/tv.png" alt="tv"><h2>TV</h2></a>
    </div>
    <div class="sixcol last">
      <a href="/radio"><img src="images/radio.png" alt="radio"><h2>Radio</h2></a>
    </div>
  </div>
</div>