/* Global */
body {
  background-color: #eaedef;
  color: #0b0c0c;
}
a, a:visited {
  color: #2e3191;
}
html, body, button, input, table, td, th {
  font-family: "nta","GDS-Regular",sans-serif;
}
body h1 img {
  margin-right: 20px;
  vertical-align:middle;
}
body h2 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
}

/* cssgrid overides and additions */
.row {
  padding: 15px 20px 10px 20px;
  background-color: #fff;
}

/* General */
.global-header {
  background-color: #0b0c0c;
  padding: 10px 0 10px 20px;
}
.global-header a, .global-header a:visited {
  color: #fff;
  text-decoration:none;
}
.global-header a img {
  width: 36px; height: 30px;
  margin-right:10px;
  vertical-align: bottom;
}
.global-header a h1 {
  display: inline;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.breadcrumbs a, .breadcrumbs a:visited {
  color: #0b0c0c;
}

a.button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 0 #000;
  -moz-box-shadow: 0 3px 0 #000;
  box-shadow: 0 3px 0 #000;
  font-weight: 400;
  overflow: visible;
  font-size: 1.1rem;
  line-height: 0.66667;
  font-weight: 400;
  text-transform: none;
  padding: 0.45em 0.5em 0.45em 0.5em;
  display: inline-block;
  color: #fff;
  background-color: #008270;
  border: none;
  text-decoration: none;
  position: relative;
  top: -3px;
  cursor: pointer;
}
a.button-red {
  background-color: #b10e1e;
}
a.button:visited {
  color: #fff;
}
input.button,
button.button {
  font-size: 1.1em;
  font-weight: 300;
  text-transform: none;
  display: inline;
  margin: 0;
  padding: 0.25em 0.5em;
  position: static;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  cursor: pointer;
  background-color: #008270;
  color: #fff;
  border: none;
}

.inline {
  display: inline;
} 
.centered {
  text-align: center;
}
.left {
  clear:right;
  float:left;
}
.right {
  clear:left;
  float:right;
}
.m-right {
  margin-right:30px;
}

.flash
{
  -moz-border-radius:5px;
  border-radius:5px;
  background:#FFE9D2;
  border:1px solid #FF931E;
  line-height:1.3;
  margin-bottom:10px;
  padding:.5em;
  margin-right: 50px;
}
.instruction
{
  -moz-border-radius:5px;
  border-radius:5px;
  background:#e8f0f0;
  border:1px solid #c1cacb;
  line-height:1.3;
  margin-bottom:10px;
  padding:.5em;
  margin-right: 50px;
}

/* form */
form.report-criteria {
  margin: 0 0 20px;
}
form.report-criteria fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
form.report-criteria fieldset legend {
  display: block;
  width: 95%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
form.report-criteria .control-group {
  margin-bottom: 20px;
}
form.report-criteria .control-group label {
  float: left;
  width: 160px;
  padding-top: 5px;
  text-align: right;
}
form.report-criteria .controls {
  margin-left: 180px;
}
form.report-criteria div.controls {
  padding-top: 5px;
}
form.report-criteria .controls label {
  float: none;
  width: auto;
  text-align: left;
}
form.report-criteria .controls label input {
  vertical-align:top;
  margin-left: 10px;
  margin-right: 10px;
}
form.report-criteria input.long {
  width: 200px;
}
form.report-criteria input.date-picker {
  width: 100px;
}

/* table */
table.data-table {
  text-align: left;
  border: 1px solid #d6d6d6;
  border-collapse: collapse;
  border-left: 0;
  border-spacing: 0;
}
table.data-table tbody tr:nth-child(odd) {
  background-color: #fafafa;
}
table.data-table thead tr th,
table.data-table tbody tr td {
  border: 1px solid #d6d6d6;
  padding: 8px;
}

/* paging */
.pagination {
  float:right;
}
.pagination ul {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination ul > li {
  display: inline;
}
.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}
.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}
.pagination ul > li > a, .pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}
.pagination ul > li > a.selected, .pagination ul > li > span.selected {
  color: #0b0c0c;
}

/* reports */
.report h3 {
  font-size: 1.7em;
  margin-top: 20px;
}
.report h4 {
  margin-top: 10px;
}
.report label.label {
  display: inline-block;
  width: 100px;
}
/* reports table */
table.report-table {
  text-align: left;
  border: none;
  border-collapse: collapse;
  border-left: 0;
  border-spacing: 0;
  width: 95%;
  margin: 20px 0 20px 0;
}
table.report-table thead tr th,
table.report-table tbody tr td {
  padding: 3px;
}
table.report-table thead tr th {
  border-bottom: 1px solid #d6d6d6;
}
table.report-table thead tr th.numeric,
table.report-table tbody tr td.numeric {
  text-align: right;
}