/* Global */
body {
  background-color: #eaedef;
  color: #0b0c0c;
}
a, a:visited {
  color: #2e3191;
}
html, body, button, input, table, td, th {
  font-family: "nta","GDS-Regular",sans-serif;
}
body h1 img {
  margin-right: 20px;
  vertical-align:middle;
}
body h2 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
}

/* cssgrid overides and additions */
.row {
  padding: 15px 0 10px 20px;
  background-color: #fff;
}

/* General */
.global-header {
  background-color: #0b0c0c;
  padding: 10px 0 10px 20px;
}
.global-header a, .global-header a:visited {
  color: #fff;
  text-decoration:none;
}
.global-header a img {
  width: 36px; height: 30px;
  margin-right:10px;
  vertical-align: bottom;
}
.global-header a h1 {
  display: inline;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.breadcrumbs {
  padding: 10px 0 5px 20px;
}
.breadcrumbs a, .breadcrumbs a:visited {
  color: #0b0c0c;
}

a.button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 0 #000;
  -moz-box-shadow: 0 3px 0 #000;
  box-shadow: 0 3px 0 #000;
  font-weight: 400;
  overflow: visible;
  font-size: 1.1rem;
  line-height: 0.66667;
  font-weight: 400;
  text-transform: none;
  padding: 0.45em 0.5em 0.45em 0.5em;
  display: inline-block;
  color: #fff;
  background-color: #008270;
  border: none;
  text-decoration: none;
  position: relative;
  top: -3px;
  cursor: pointer;
}
a.button-red {
  background-color: #b10e1e;
}
a.button:visited {
  color: #fff;
}
input.button,
button.button {
  font-size: 1.1em;
  font-weight: 300;
  text-transform: none;
  display: inline;
  margin: 0;
  padding: 0.25em 0.5em;
  position: static;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  cursor: pointer;
  background-color: #008270;
  color: #fff;
  border: none;
}

.inline {
  display: inline;
} 
.centered {
  text-align: center;
}
.right {
  clear:left;
  float:right;
}
.m-right {
  margin-right:30px;
}

.flash
{
  -moz-border-radius:5px;
  border-radius:5px;
  background:#FFE9D2;
  border:1px solid #FF931E;
  line-height:1.3;
  margin-bottom:10px;
  padding:.5em;
  margin-right: 50px;
}
.instruction
{
  -moz-border-radius:5px;
  border-radius:5px;
  background:#e8f0f0;
  border:1px solid #c1cacb;
  line-height:1.3;
  margin-bottom:10px;
  padding:.5em;
  margin-right: 50px;
}

/* form */
form.report-criteria {
  margin: 0 0 20px;
}
form.report-criteria fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
form.report-criteria fieldset legend {
  display: block;
  width: 95%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
form.report-criteria .control-group {
  margin-bottom: 20px;
}
form.report-criteria .control-group label {
  float: left;
  width: 160px;
  padding-top: 5px;
  text-align: right;
}
form.report-criteria .controls {
  margin-left: 180px;
}
form.report-criteria input {
  width: 200px;
}
